@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,450;1,450&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #13151a;
  color: lightgray;
}

